<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron bg-white">
    <h1 class="display-4">Pregunta y Responde</h1>
    <p>
        El mejor lugar para aprender y ayudar a quienes están aprendiendo,
        crea preguntas para resolver tus dudas y comparte tu conocimiento
        respondiendo si conoces del tema
    </p>
</div>

<div class="container">
    <!-- Example row of columns -->
    <h2 class="mb-4">Últimas preguntas</h2>

    {{#each questions as |question key|}}
    <div class="card bg-white my-3">
        <div class="card-body row row-cols-1 row-cols-sm-2 pb-0">
            <div class="col col-lg-10">
                <h4>
                    <a href="/question/{{key}}" class="text-dark">{{question.title}}</a>
                </h4>
            </div>
            <div class="col col-lg-2">
                <a href="/question/{{key}}" class="text-dark">
                    <dl class="row row-cols-2 row-cols-sm-1 justify-content-center">
                        <dt class="col-1 col-sm">
                            {{#if question.answers}}
                            {{answerCount question.answers}}
                            {{else}}
                            0
                            {{/if}}
                        </dt>
                        <dd class="col">Respuestas</dd>
                    </dl>
                </a>
            </div>
        </div>
    </div>
    <hr />
    {{/each}}
</div>
<!-- /container -->