<div class="container mt-4">
    <div class="alert alert-primary" role="alert">
        <div class="row">
            {{#with question.filename}}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/uploads/{{this}}" class="card-img-top" alt="">
                </div>
            </div>
            {{/with}}
            <div class="col">
                <h4 class="alert-heading">{{question.title}}</h4>
                <p>{{question.description}}</p>
                <p class="mb-0">Creada por <strong>{{question.owner.name}}</strong></p>
            </div>
        </div>
    </div>


    {{#each question.answers as |answer key|}}
    <div class="alert alert-{{#if answer.correct}}success{{else}}info{{/if}}" role="alert">
        <p>{{answer.text}}</p>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Creada por <strong>{{answer.user.name}}</strong>
                </div>
                <div class="col-sm text-right">
                    {{#with user}}
                    {{#ifEqualsUsers ../../question.owner.email ../../user.email}}
                    {{#unless answer.correct}}
                    <a href="/mark-answer/{{../../../key}}/{{key}}" class="px-4 btn badge-pill btn-info"
                        role="button">Elegir
                        respuesta correcta</a>
                    {{/unless}}
                    {{/ifEqualsUsers}}
                    {{/with}}
                    {{#if answer.correct}}
                    <h3>
                        <span class="badge badge-success">Respuesta correcta</span>
                    </h3>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    {{#if user}}
    <div class="card mb-3">
        <div class="card-header">
            <h3>Responder</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form method="POST" action="/answer-question">
                        <div class="form-group text-left">
                            <label for="answer">Respuesta</label>
                            <textarea class="form-control" id="answer" name="answer" placeholder="Ingrese la respuesta"
                                required></textarea>
                            <input type="hidden" name="id" value="{{key}}" />
                        </div>
                        <div class="text-center mt-3">
                            <input type="hidden" name="crumb" value="{{crumb}}">
                            <button type="submit" class="px-4 btn badge-pill btn-info">
                                Enviar respuesta
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <a href="/login"><button type="button" class="px-4 btn badge-pill btn-info btn-lg btn-block">Ingrese para
            responder</button></a>
    {{/if}}
</div>